body {
  color: #4e566d;
}

a {
  color: #556cd6;
}

a:visited {
  color: #556cd6;
}

.wy-nav-side {
  background-color: #f7fafc;
}

.wy-nav-top {
  background-color: #f7fafc;
  color: #4c555a;
}

.wy-nav-top a {
  color: #4c555a;
}

.wy-menu-vertical a {
  color: #4c555a;
}

.wy-menu-vertical {
  padding-left: 20px;
}

.wy-menu-vertical a:hover {
  background-color: #f7fafc;
  color: #556cd6;
}

.wy-menu-vertical li.current {
  background-color: #f7fafc;
}

.wy-menu-vertical li.current a:hover {
  background-color: #f7fafc;
  color: #556cd6;
}

.wy-menu-vertical li.current a {
  border: none;
}

.wy-menu-vertical li.toctree-l1.current>a {
  border: none;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
  color: #556cd6;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  background: #f7fafc;
}

.wy-menu-vertical li.toctree-l2.current>a {
  background: #f7fafc;
  color: #556cd6;
}

.wy-side-nav-search {
  background-color: #f7fafc;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #373f51;
}

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

[role=navigation] {
  background-color: #fcfcfc;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.wy-nav-content {
 max-width: none;
 width: 1100px;
}

.rst-content {
 padding-left: 200px;
}

.wy-nav-side, .wy-side-scroll, .wy-menu {
 width: 450px;
}

.wy-side-nav-search {
 width: 400px;
 margin-left: 20px;
}

.wy-menu-vertical li.toctree-l1 {
  font-size: 18px;
  font-weight: 1.25px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.wy-menu-vertical li.toctree-l2 {
  font-size: 16px;
  margin-left: 15px;
}