global:
  domain: "stage.neptune.ai"
  registry: "{{ registry }}"
docs:
  image: "{{ image }}"
  nodeSelector:
    node.type: stage
  tolerations:
    - key: "node.taint"
      operator: Equal
      value: "stage"
      effect: NoSchedule

