global:
  domain: "stage.neptune.ai"
  registry: "{{ registry }}"
docs:
  image: "{{ image }}"
  nodeSelector:
    node.type: stage
  tolerations:
    - key: "node.taint"
      operator: Equal
      value: "stage"
      effect: NoSchedule
  heapId: 1995704192
ingress:
  legacyEnabled: true
  legacyDomain: "docs-legacy"
