global:
  domain: "neptune.ai"
  production: "true"
  registry: "{{ registry }}"
docs:
  image: "{{ image }}"
  nodeSelector:
    neptune.type: instance
  tolerations: []
  heapId: 3102000718
ingress:
  legacyEnabled: true
  legacyDomain: "docs-legacy"
